/**************************/
/* HEADER */
/**************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  height: 9.6rem;
  background-color: #ffe5ca;
  position: relative;
}

.logo {
  display: inline-block;
  height: 4rem;
}
/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  align-items: center;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #343a40;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 377ms;
}
.nav-link:hover,
.nav-link:active {
  color: #6c7884;
}
.nav-link.nav-last-link:link,
.nav-link.nav-last-link:visited {
  background-color: #ffa94d;
  border-radius: 9px;
  display: inline-block;
  padding: 0.8rem 1.4rem;
  color: #f8f9fa;
}
.nav-link.nav-last-link:hover,
.nav-link.nav-last-link:active {
  background-color: #ae7335;
}
/* MOBILE */
.btn-mobile-nav [name='close-outline'] {
  display: none;
}
.btn-mobile-nav {
  border: none;
  /* background: none; */
  cursor: pointer;
  display: none;
}
.mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #343a40;
}
/* sticky navigation */
.sticky header {
  position: fixed;
  z-index: 7777;
  width: 100%;
  height: 6.4rem;
  background-color: rgba(248, 249, 250, 0.67);
  backdrop-filter: blur(17px);
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* transition: all 277ms; */
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
  background-image: linear-gradient(#ffe5ca, #ffead5, #ffefdf, #ffffff);
  padding: 4.8rem 1.6rem 9.6rem 1.6rem;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}
.hero-img {
  width: 100%;
  opacity: 0.9;
}
.hero-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.2rem;
  margin-bottom: 3.2rem;
}
.hero-info {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.customers {
  display: flex;
  margin-top: 8rem;
  /* text-align: center; */
  align-items: center;
  gap: 2.4rem;
}
.customers-imgs {
  display: flex;
}
.customers-imgs img {
  margin-right: -1.6rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}
.customers-imgs img:last-child {
  margin-right: 0;
}

.customers-text {
  font-size: 2rem;
  font-weight: 600;
}
/**************************/
/* FEATURED */
/**************************/
.section-featured {
  margin-bottom: 9.6rem;
}
.featured-in {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 3.2rem;
  opacity: 0.77;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos img {
  filter: grayscale(100);
  opacity: 0.7;
  height: 3.2rem;
}
/**************************/
/* How to works */
/**************************/
.heading-second {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.2rem;
  margin-bottom: 9.6rem;
}
.subheading {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: 9.6rem;
  margin-bottom: 2rem;
  color: #ff922b;
}
.step-img-content {
  width: 44%;
}
.step-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 3.2rem;
}
.step-text-heading {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.step-text-content {
  font-size: 2rem;
  line-height: 1.5;
}
.step-img::before,
.step-img::after {
  display: block;
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img::before {
  width: 2%;
  padding: 40%;
  z-index: -2;
  background-color: #d8f5a2;
}
.step-img::after {
  width: 1%;
  padding: 34%;
  z-index: -1;
  background-color: #e9fac8;
}
/**************************/
/* MEALS */
/**************************/
.meals {
  border-radius: 11px;
  /* FIXME ????*/
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.7rem 2.9rem 0rem;
  transition: all 377ms;
}
.meals:hover {
  transform: translateY(-1.2rem);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 2.4rem;
}
.meal-img {
  width: 100%;
}
.meals-text {
  padding: 3.2rem 4.8rem 3.2rem;
}
.meals-name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.meals-text-li {
  font-size: 1.8rem;
  list-style: none;
  margin-bottom: 2rem;
}
.tag {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  display: flex;
  display: inline-block;
  border-radius: 11px;
  background-color: #ffa94d;
  padding: 0.4rem 0.8rem;
}
.meals-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #ffa94d;
  margin-right: 0.8rem;
}
.meals-subheading {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}
.subheading {
  /* text-align: center; */
}
.more-info:link,
.more-info:visited {
  display: inline-block;
  text-decoration: none;
  color: #ae7335;
  padding-bottom: 4px;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid currentColor;
  transition: all 377ms;
}
.more-info:hover,
.more-info:active {
  border-bottom: 1px solid transparent;
  /* color: #d3c7ba;  */
}
.more {
  text-align: center;
}
/**************************/
/* TESTIMONIAL & GALLERY */
/**************************/
.section-testimonials {
  align-items: center;
  padding: 9.6rem 3.2rem;
  background-image: linear-gradient(#ffff, #ffead5, #ffe5ca, #ffefdf, #ffff);
}
.testimonial-content {
  padding-left: 4.8rem;
}
.testimonials-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}
.testimonial-name {
  font-size: 1.6rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.testimonial-text {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  line-height: 1.8;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
}
.gallery-imags {
  overflow: hidden;
  border-radius: 4px;
}
.gallery-imags img {
  display: block;
  transition: all 377ms;
  width: 100%;
  border-radius: 4px;
}
.gallery-imags img:hover {
  /* FIXME ???? */
  transform: scale(1.1);
}

/**************************/
/* PRICING SECTION */
/**************************/
.plan-header {
  text-align: center;
}
.plan-name {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ff922b;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.price-text {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-price span {
  font-size: 2.4rem;
  font-weight: 500;
}
.plan-ul {
  margin-bottom: 3.2rem;
}
.plan-btn {
  display: inline-block;
  margin-top: 3.2rem;
  text-align: center;
}
.plan-price {
  width: 75%;
  justify-self: center;
  padding: 4.8rem 4.4rem;
  /* margin-left: 3.2rem; */
  background-color: #ffe5ca;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 11px;
  position: relative;
  overflow: hidden;
}
.not-price {
  background-color: #fffcfa;
}
.plan-details {
  font-size: 1.6rem;
  text-align: center;
}
.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #ffe5ca;
  border-radius: 50%;
  padding: 1.2rem;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}
.stress::before {
  content: 'best value';
  text-transform: uppercase;
  background-color: #fff200;
  position: absolute;
  text-align: center;
  padding: 0.6rem 3.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  transform: rotate(45deg);
  right: -10%;
  top: 6%;
}

/**************************/
/* CAT SECTION */
/**************************/
main {
  margin-bottom: 9.6rem;
}
.cta-grid {
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #ff922b, #ffb36b);
  border-radius: 11px;
  overflow: hidden;
}
.cta-img {
  background-image: linear-gradient(
      to right bottom,
      rgb(255, 146, 43, 0.27),
      rgb(255, 179, 107, 0.27)
    ),
    url(../img/eating.jpg);
  background-position: center;
  background-size: cover;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 0 0 3.2rem 3.2rem;
}
.cta-text .heading-second {
  margin-bottom: 3.2rem;
  margin-top: 4.8rem;
  text-align: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-bottom: 3.2rem;
}
/**************************/
/* FOOTER */
/**************************/
.line {
  padding-bottom: 9.6rem;
  content: '';
  border-top: 1px #868e9638 solid;
}
.social-icon {
  color: #868e96;
  font-size: 2.4rem;
  margin-right: 2.4rem;
}
.footer-link {
  text-decoration: none;
}
.statement {
  font-size: 1.6;
  color: #868e96;
  line-height: 1.5;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #343a40;
}
.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: #868e96;
  line-height: 1.5rem;
  font-weight: 400;
  transition: all 377ms;
}

.footer-link:hover,
.footer-link:active {
  color: #495057;
}
.footer-nav {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}
.address {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  margin-top: 4.8rem;
  line-height: 1.5;
  font-weight: 400;
}
