/* �Ű�ϵͳ

* Font
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

* gap
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

* Font-weight
400 / 500 / 600 / 700
* Ĭ�ϣ�1

*  color
Font-color
 #343a40
design-color
#ffe5ca #ffa94d #f8f9fa

#c0eb75 #d8f5a2 #ff922b #868e96
* shadows
rgba(241, 243, 245, 0.57)
rgba(100, 100, 111, 0.2) 
rgba(149, 157, 165, 0.2) 
rgba(99, 99, 99, 0.2)
rgba(100, 100, 111, 0.2)
* 
 
*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /*Smooth scrolling animation, but can't work safari*/
  /* scroll-behavior: smooth; */
}
*:focus {
  outline: none;
  /* outline-offset: 8px; */
  box-shadow: 0px 7px 29px 0px rgba(241, 243, 245, 0.57);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-box����������������?���õı߿���ڱ߾��ֵ�ǰ����� width �ڵġ� */
}

body {
  font-family: sans-serif;
  line-height: 1;
  color: #343a40;
  overflow-x: hidden;
}

/**************************/
/* GENERAL COMPONENT */
/**************************/
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.grid-center-v {
  align-items: center;
  justify-content: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #ffa94d;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 1.1rem;
  /* FIXME ���ȶ��� */
  transition: background-color 377ms;
}
.btn:hover,
.btn:active {
  background-color: #ae7335;
  color: white;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 1.1rem;
  font-weight: 600;
}

.btn-form {
  background-color: #343a40;
  color: white;
  font-size: 2rem;
  padding: 1.2rem 3.2rem;
  border-radius: 11px;
  font-weight: 600;
  align-self: end;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: all 377ms;
}
.btn-form:hover {
  background-color: #343a407e;
}

.second-btn:link,
.second-btn:visited {
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: 600;
}
.second-btn:hover,
.second-btn:active {
  background-color: #c4c4c4;
  color: #343a40;
  font-weight: 600;
}
/* special setting */
.margin-right {
  margin-right: 1.6rem !important;
}
.margin-bottom {
  margin-bottom: 4.8rem !important;
}
strong {
  font-weight: 500;
}
/* list */
.list-item {
  list-style: none;
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.list-ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list-ul-cols {
  display: block;
  flex: auto;
}
.list-icon {
  color: #ae7335;
  width: 3.2rem;
  height: 3.2rem;
}
/* Form */
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.cta-form input,
.cta-form select {
  font-size: 1.8rem;
  width: 100%;
  font-weight: 500;
  padding: 1.2rem;
  border-radius: 11px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0.77px;
}
.cta-form option {
  font-size: 1.8rem;
  font-weight: 500;
  box-shadow: rgba(99, 99, 99, 0.077) 0px 2px 8px 0px;
}
.cta-form::placeholder {
  color: rgba(52, 58, 64, 0.457);
}
